#searchLocale {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 3px 3px 10px;
}
.navBarButton {
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #669966;
  margin: 0 10px;
}