p {
  margin: 0;
}
.smallContentBox-cont {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(59,59,56,.7);
  color: white;
}
.smallContentBox-cont-text {
  font-size: 28px;
}
@media only screen and (max-width: 825px) {
  .smallContentBox-cont{
    height: 100px;
    width: 100px;
    overflow-wrap: anywhere;
  }
}