#nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(59, 59, 56);
  color: white;
  border-bottom: 1px solid black;
  padding: 0 20px;
  box-sizing: border-box;
}
.nav-left {
  align-items: center;
  display: flex;
}
.navLink {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0 10px;
}
.navLink:hover {
  color: #669966;
}

.nav-right {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 825px) {
  #nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }
  .nav-left{
    flex-direction: column;
  }
  .nav-left ul {
    padding: 0;
    margin: 4px;
  }
}